<a href="https://colab.research.google.com/github/andresalcaraaz/Netflix-Project-2-ETL-Data/blob/master/Project_2_%234.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.2'
spark_version = 'spark-3.1.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:3 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:5 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,750 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,173 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [895 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,476 kB]
Fetched 7,566 kB in 3s (2,454 kB/s)
Reading package lists... Done

In [3]:
# Start Spark session
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructType,StructField,StringType, DateType,IntegerType

# we are going to use this to time our queries.
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [4]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/filterNames.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("filterNames.csv"), sep=",", header=True)

# Show DataFrame
df.createOrReplaceTempView('names')

In [5]:
df = spark.sql("SELECT * FROM names WHERE primaryprofession in ('actor', 'actress') ")
clean_professions_df = df.drop("birthyear","knownfortitles","knownFor","deathyear")
clean_professions_df.show()

+---------+--------------------+-----------------+
|   nconst|         primaryname|primaryprofession|
+---------+--------------------+-----------------+
|nm0458601|          Mark Kleid|            actor|
|nm0458664|          Bart Klein|            actor|
|nm0458866|        Leslie Klein|          actress|
|nm0458929|         Paula Klein|          actress|
|nm0459041|     Kevin Kleinberg|            actor|
|nm0459062| Adelheid Kleineidam|          actress|
|nm0459073|      Sergio Kleiner|            actor|
|nm0459084|  Franziska Kleinert|          actress|
|nm0459106|   Stefan Kleinkrieg|            actor|
|nm0459132|    Manny Kleinmuntz|            actor|
|nm0459186|      Maria Klejdysz|          actress|
|nm0459299|     Ladislav Klepal|            actor|
|nm0459318|      Kamaljeet Kler|          actress|
|nm0459364|        Aaron Kleven|            actor|
|nm0459522|      Nele Savicenko|          actress|
|nm0459580|        Atila Klince|            actor|
|nm0459683|       Kent Klineman|            actor|
|nm0459823|       RÃ¼diger Klink|            actor|
|nm0459991|         Enn Klooren|            actor|
|nm0460037|Romuald Andrzej Klos|            actor|
+---------+--------------------+-----------------+
only showing top 20 rows

In [9]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/filteredPrincipals.csv"
spark.sparkContext.addFile(url)
df1 = spark.read.csv(SparkFiles.get("filteredPrincipals.csv"), sep=",", header=True)

# Show DataFrame
df1.createOrReplaceTempView('names1')

In [15]:
df1 = spark.sql("SELECT * FROM names1 WHERE category in ('actor', 'actress') ")
clean_character_df = df.drop("tconst","order")
clean_character_df.show()

+---------+--------------------+---------+---------+-----------------+--------------------+---------+
|   nconst|         primaryname|birthyear|deathyear|primaryprofession|      knownfortitles| knownFor|
+---------+--------------------+---------+---------+-----------------+--------------------+---------+
|nm0458601|          Mark Kleid|     null|     null|            actor|tt0105041,tt01120...|tt0277615|
|nm0458664|          Bart Klein|     null|     null|            actor|tt0830854,tt03064...|tt0306413|
|nm0458866|        Leslie Klein|     null|     null|          actress|           tt0462601|tt0462601|
|nm0458929|         Paula Klein|     null|     null|          actress|tt1060234,tt01174...|tt1258120|
|nm0459041|     Kevin Kleinberg|     1982|     null|            actor|tt0277249,tt57770...|tt0256278|
|nm0459062| Adelheid Kleineidam|     1966|     null|          actress|tt0178142,tt04372...|tt0437294|
|nm0459073|      Sergio Kleiner|     1936|     null|            actor|tt0495921,tt00616...|tt0495921|
|nm0459084|  Franziska Kleinert|     1955|     null|          actress|tt0765055,tt02934...|tt0293425|
|nm0459106|   Stefan Kleinkrieg|     null|     null|            actor|tt1076942,tt07812...|tt0921714|
|nm0459132|    Manny Kleinmuntz|     1922|     null|            actor|tt0326856,tt04557...|tt0455715|
|nm0459186|      Maria Klejdysz|     1927|     2009|          actress|tt0381637,tt15114...|tt1511447|
|nm0459299|     Ladislav Klepal|     1937|     2002|            actor|tt0230183,tt01046...|tt0349819|
|nm0459318|      Kamaljeet Kler|     null|     null|          actress|           tt0240515|tt0240515|
|nm0459364|        Aaron Kleven|     null|     null|            actor|tt0425483,tt02002...|tt0425483|
|nm0459522|      Nele Savicenko|     1957|     null|          actress|tt0234056,tt09298...|tt3274484|
|nm0459580|        Atila Klince|     1958|     null|            actor|tt1649442,tt02749...|tt0243232|
|nm0459683|       Kent Klineman|     null|     null|            actor|tt0118437,tt31165...|tt0229328|
|nm0459823|       RÃ¼diger Klink|     1971|     null|            actor|tt4193400,tt02505...|tt4193400|
|nm0459991|         Enn Klooren|     1940|     2011|            actor|tt0367480,tt03124...|tt0367480|
|nm0460037|Romuald Andrzej Klos|     1956|     null|            actor|tt0384766,tt04073...|tt0385359|
+---------+--------------------+---------+---------+-----------------+--------------------+---------+
only showing top 20 rows

In [12]:
newcharacter = character.drop("tconst","ordering","job")
newcharacter.show()

NameError: ignored

In [39]:
#spark.sql("SELECT * FROM names WHERE primaryprofession = 'actor' OR primaryprofession = 'actress' ").show()
df1 = spark.sql("SELECT * FROM names1 WHERE category in ('actor', 'actress') ")
category = df.drop("tconst","ordering","job")
category.show()

+---------+--------------------+---------+---------+-----------------+--------------------+---------+
|   nconst|         primaryname|birthyear|deathyear|primaryprofession|      knownfortitles| knownFor|
+---------+--------------------+---------+---------+-----------------+--------------------+---------+
|nm0458601|          Mark Kleid|     null|     null|            actor|tt0105041,tt01120...|tt0277615|
|nm0458664|          Bart Klein|     null|     null|            actor|tt0830854,tt03064...|tt0306413|
|nm0458866|        Leslie Klein|     null|     null|          actress|           tt0462601|tt0462601|
|nm0458929|         Paula Klein|     null|     null|          actress|tt1060234,tt01174...|tt1258120|
|nm0459041|     Kevin Kleinberg|     1982|     null|            actor|tt0277249,tt57770...|tt0256278|
|nm0459062| Adelheid Kleineidam|     1966|     null|          actress|tt0178142,tt04372...|tt0437294|
|nm0459073|      Sergio Kleiner|     1936|     null|            actor|tt0495921,tt00616...|tt0495921|
|nm0459084|  Franziska Kleinert|     1955|     null|          actress|tt0765055,tt02934...|tt0293425|
|nm0459106|   Stefan Kleinkrieg|     null|     null|            actor|tt1076942,tt07812...|tt0921714|
|nm0459132|    Manny Kleinmuntz|     1922|     null|            actor|tt0326856,tt04557...|tt0455715|
|nm0459186|      Maria Klejdysz|     1927|     2009|          actress|tt0381637,tt15114...|tt1511447|
|nm0459299|     Ladislav Klepal|     1937|     2002|            actor|tt0230183,tt01046...|tt0349819|
|nm0459318|      Kamaljeet Kler|     null|     null|          actress|           tt0240515|tt0240515|
|nm0459364|        Aaron Kleven|     null|     null|            actor|tt0425483,tt02002...|tt0425483|
|nm0459522|      Nele Savicenko|     1957|     null|          actress|tt0234056,tt09298...|tt3274484|
|nm0459580|        Atila Klince|     1958|     null|            actor|tt1649442,tt02749...|tt0243232|
|nm0459683|       Kent Klineman|     null|     null|            actor|tt0118437,tt31165...|tt0229328|
|nm0459823|       RÃ¼diger Klink|     1971|     null|            actor|tt4193400,tt02505...|tt4193400|
|nm0459991|         Enn Klooren|     1940|     2011|            actor|tt0367480,tt03124...|tt0367480|
|nm0460037|Romuald Andrzej Klos|     1956|     null|            actor|tt0384766,tt04073...|tt0385359|
+---------+--------------------+---------+---------+-----------------+--------------------+---------+
only showing top 20 rows